@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 254 21% 95%;
    --foreground: 254 5% 0%;
    --card: 254 21% 90%;
    --card-foreground: 254 5% 10%;
    --popover: 254 21% 95%;
    --popover-foreground: 254 95% 0%;
    --primary: 254 63% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 254 21% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 216 21% 85%;
    --muted-foreground: 254 5% 35%;
    --accent: 216 21% 80%;
    --accent-foreground: 254 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 254 5% 90%;
    --border: 254 21% 50%;
    --input: 254 21% 18%;
    --ring: 254 63% 51%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 254 21% 5%;
    --foreground: 254 5% 90%;
    --card: 254 21% 0%;
    --card-foreground: 254 5% 90%;
    --popover: 254 21% 5%;
    --popover-foreground: 254 5% 90%;
    --primary: 254 63% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 254 21% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 216 21% 15%;
    --muted-foreground: 254 5% 60%;
    --accent: 216 21% 15%;
    --accent-foreground: 254 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 254 5% 90%;
    --border: 254 21% 18%;
    --input: 254 21% 18%;
    --ring: 254 63% 51%;
    --radius: 0.75rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}







@layer base {
  * {
    @apply border-border;

  }
  body {
    @apply bg-background text-foreground;

  }

}